#no-bullets {
  list-style-type: none;
  list-style: none;
}

li {
  padding: 0 !important;
  margin: 0 !important;
}

.btn-link {
  padding: 0 !important;
  margin: 0 !important;
}

ul {
  display: inline-block;
}
